- if values.size > 0
  %h1 Values
  %table
    %tr
      %th Key
      %th Value
    - values.each do |key, record|
      %tr
        %td
          %a{href: record.path}= key
        %td= record.value

- if links.size > 0
  .list-group
    - links.each do |key, value|
      %a{href: value, class: 'list-group-item'}= key
