- if values.size > 0
  %table.table.table-striped
    %tbody
      %thead
        %tr
          %th #
          %th Key
          %th Value
      - values.each do |key, record|
        %tr
          %td
            %a{href: record.path, class: 'btn btn-default'}
              %span{class: "glyphicon glyphicon-pencil", aria_hidden: "true"}
          %td= key
          %td= record.value

- if links.size > 0
  .list-group
    - links.each do |key, value|
      %a{href: value, class: 'list-group-item'}= key
