<html>
  <body>
    <h1>Value</h1>
    <p>
      <form action="<%= path %>" method="post">
        <textarea name="value" rows="2" cols="40"></textarea>
        <input type="submit" value="Save">
      </form>
    </p>
  </body>
</html>
