%form{action: path, method: "post"}
  .form-group
    %label{for: "value"} Secret
    %textarea{name: "value", rows: 2, cols: 40, class: 'form-control', placeholder: 'Secret Value'}
  %input{type: "submit", value: "Save", class: "btn btn-default"}
